*{
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
}

.first{
  background-image: url("/images/first-section/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.description{
  font-size: 26px;
  line-height: 34px;
  color: #F6F7E4;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
  margin-top: 25px;
}

.logo{
  background-image: url("/images/first-section/background-logo.webp");
  background-repeat: no-repeat;
  margin-top: 23px;
  padding: 12px 20px 12px 26px;
}

header{
  display: flex;
  justify-content: center;
  gap: 410px;
}

.info{
  background-image: url("/images/first-section/background-info.webp");
  background-repeat: no-repeat;
  display: flex;
  gap: 55px;
  padding-left: 50px;
  padding-top: 37px;
  margin-top: 27px;
  padding-right: 85px;
}

.order{
  height: 23px;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #715D00;
  background: none;
  border-collapse: collapse;
  border: none;
}

.first-title{
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #F9E994;
}

.left-section{
  margin-bottom: 100px;
  margin-top: 100px;
}

ul{
  background: #7FB3E1;
  border-radius: 20px;
  padding: 35px 3px 38px 35px;
  list-style-image: url("/images/first-section/black-cat-footprint.webp");
}

li{
  padding-left: 17px;
  padding: 20px;
  max-width: 258px;
  max-height: 52px;
}

.info-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.centre-image{
  display: flex;
  justify-content: center;
  z-index: 1;
}

.cat1{
  margin-left: -100px;
  z-index: 3;
  height: 390px;
  margin-top: 35px;
}

.cat-feed{
  margin-left: -165px;
  z-index: 2;
  margin-top: 20px;
  height: 90%;
  width: 90%;
}

.cat2{
  margin-left: -165px;
  z-index: 3;
  height: 390px;
  margin-top: 35px;
}

.card-form{
  margin-left: -75px;
  width: 270px;
  height: 462px;
  padding-bottom: 15px;
}

.info-form{
  background: #FDFCFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  padding-top: 60px;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 7;
}

.info-section-card{
  background: #7EB2E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 50% 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.time-left{
  font-size: 33px;
  line-height: 39px;
  color: #483C08;
  text-align: center;
}

.countdown{
  font-size: 36px;
  line-height: 42px;
  color: #F6E791;
  text-align: center;
}

.current{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 19px;
}

.priviously-current{
  font-size: 30px;
  line-height: 35px;
  color: #6B6B6B;
}

.line{
  margin-left: -10px;
  margin-top: -34px;
}

.now-current{
  font-size: 36px;
  line-height: 42px;
  color: #483C08;
}

input{
  background: #F3EFEF;
  border:none;
  font-size: 16px;
  line-height: 19px;
  max-width: 75%;
  color: #777777;
}

input:focus{
  border: none;
}

.footprint{
  display: flex;
  flex-direction: row;
  background: #F3EFEF;
  border-radius: 30px;
  padding: 10px 0px 5px 10px;
  margin: 21px 24px 15px 24px;
  height: 50px;
}

.submit{
  background: #A1D337;
  font-size: 30px;
  border-radius: 30px;
  color: #FFFFFF;
  padding: 7px 63px 8px 55px;
  margin: 21px 24px 15px 28px;
  line-height: unset;
  max-width: unset;
  text-align: center;
}

.order-date{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 44px 20px 42px;
}

.second{
  background-image: url("/images/second-section/background.webp");
  background-repeat: no-repeat;
}

.second-title{
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  background: linear-gradient(#F9E994, #537D13, #483C08);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
}

.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 85px;
  margin-top: 61px;
}

.card{
  width: 305px;
  height: 439px;
  background: #F6E791;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #483C08;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  margin-bottom: 101px;
}

.mini-card-img {
  display: flex;
  height: 50%;
}

.mini-card{
  height: 50%;
  text-align: center;
  background: rgba(161, 211, 55, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 16px 24px 16px;
  gap: 20px;
}

.about-title{
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.third{
  background: linear-gradient(180deg, #E1EDF8 0%, 
  rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);
}

.third-title{
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #537D13;
  padding-top: 100px;
}

.result{
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #483C08;
  background-image: url("/images/third-section/Rectangle.webp");
  background-repeat: no-repeat;
  padding: 40px 170px 65px 40px;
}

.info-result{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 126px;
  margin-top: 85px;
  margin-bottom: 64px;
}

.space{
  padding-top: 10px;
  padding-bottom: 10px;
}

.grass{
  overflow-x: hidden;
  background-image: url("/images/third-section/grass.webp");
  background-repeat: no-repeat;
  height: 175px;
}

@media (max-width: 576px) {
  .about {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 5px;
  }

  .card{
    width: unset;
    margin-bottom: unset;
    height: unset;
    margin: 10px;
    justify-content: center;
  }

  .info-section{
    margin-bottom: 35px;
    flex-direction: column;
  }

  .info-result{
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  header{
    flex-direction: column;
    gap: unset;
    z-index: 1;
    margin-bottom: 135px;
  }

  .info{
    background-image: unset;
    padding: 0;
    gap: 15px;
    justify-content: center;
    margin-top: -140px;
    z-index: 2;
  }

  .logo{
    width: 100%;
    background-image: unset;
    padding: 0;
    text-align: center;
    z-index: 2;
    margin-top: 70px;
  }

  .first-title{
    font-size: 45px;
    width: 90%;
  }

  .description{    
    margin: 0;
    padding: 10px;
    width: 90%;
  }

  .left-section{
    width: 85%;
    margin-top: 25px;
    margin-left: 25px;
  }

  .centre-image{
    flex-direction: row;
  }

  .cat1{
    width: 35%;
    margin-left: 0;
    height: 90%;
    margin-right: 60px;
  }

  .cat-feed{
    width: 75%;
    height: 90%;
    margin-top: -75px;
    margin-right: -165px;
  }

  .cat2{
    width: 35%;
    height: 90%;
    margin-left: 60px;

  }

  .card-form{
    margin-left: 25px;
    margin-top: 25px;
  }

  .second-title{
    margin: 0;
  }

  .third-title{
    padding-top: 45px;
  }

  .result{
    background-image: unset;
    width: 85%;
    padding: 10px;
    margin-left: 10px;
  }

  .grass{
    width: 100%;
  }

  .cat-img{
    width: 90%;
    height: 90%;
    display: flex;
  }
}
